/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}
/*
1. từ ngoài vào trong
2. từ trên xuống dưới
3. từ tổng quan đến chi tiết
*/

/*
1. vị trí 
2. kích thước (width, height)
3. màu sắc
4. kiểu dáng (kiểu chữ, hình tròn, vuông ...)
*/
/* Common */
.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
   margin-top: 8px !important ;
}
.mt-16 {
    margin-top: 16px !important ;
}

/* Main */
#main {

}

#header {   
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1; 
}

#nav-list {
    list-style: none;  
    display: inline-block;  
}

.nav-item {
    display: inline-block;
    line-height: 46px; 
    position: relative;  
}

.nav-item:hover > a{
    background-color: #fff;
    color: #000;
    display: inline-block;
    
}

.nav-item__link {
    text-decoration: none;
    color: #fff;
    padding: 0 24px;
    text-transform: uppercase;
}

.subnav-list {
    display: none;
    left: 0;
    top: 100%;
    min-width: 150px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 9px rgb(0, 0, 0, 0.5);
}

.nav-more:hover .subnav-list {
    display: block;
    
}

.icon-arroud {
    font-size: 14px;
    
}

.subnav-item:hover {
    background-color: #ececec;
}

.subnav-item {        
    list-style: none;
    line-height: 38px;
}

.subnav-item__link {   
    display: block; 
    text-decoration: none;
    color: #000;
    padding: 0px 24px 0px 12px;
}

#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 14px;
}

#slider {        
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/chicago.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
#slider .text-heading {
    color: white;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 25px;
}
#slider .text-heading-2 {
    color: white;    
    font-size: 15px;
    font-weight: 700;
}

#content {
    
}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;    
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 30px;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 26px;
    font-style: italic;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

#content .members-list {
    display: flex;
    margin-top: 47px;    
}

#content .members-item {    
    text-align: center;    
}

#content .members-name {
    font-size: 15px;
    font-weight: 500;    
    margin-bottom: 20px;
}

#content .members-img {    
    width: 153px;
    border-radius: 4px;
}

/* Tour */
.tour-section {
    background-color: #000;
}

.tour-section .section-heading {
    color: #fff;
}

.tour-section .section-sub-heading {
    color: #fff;
}

.tick-list {
    background-color: #fff;
}

.tick-list li {
    list-style: none;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 4px;    
}

.quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.place-list {    
    margin-top: 36px;  
    margin-bottom: 0px;
}



.place-img {
    width: 100%;
    display: block;
}

.place-body {
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5;
    padding: 15px;
}

.place-heading {

}

.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc {
    margin-top: 15px;

}

.place-buy-btn {  
    font-size: 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    margin-top: 15px;
    display: inline-block;
}

.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}
/* contact */
.contact-content {
    margin-top: 48px;
    
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info .icon {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
    
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.form-submit-btn {
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    float: right;
    padding: 10px 15px;
    cursor: pointer;
}

.form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
}

/* Map */
.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    
}

.socials-list {
    font-size: 24px;    
}

.socials-list a {
    color: #000;
    opacity: 0.6;
}

.socials-list a:hover {
    cursor: default;
    color: rgb(0, 0, 0, 0.6);
}

.copyright {
    opacity: 0.5;
    margin: 8px 0;    
}

.copyright a {    
    color: #000;
}
